/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-gray: #F0F1F8;
    --color-gray2: #FCFCFF;
    --color-dark-gray: #AEB5C3;
    --color-white: #FFFFFF;
    --color-dark: #0D1016;
    --color-stroke: #DADFE9;
    --color-hover-box: #EEEFFF;
    --color-selected: #293CE2;
    --color-hover-button: #4759F4;
    --color-pressed-button: #2032D0;

}